{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules": {
    "no-console": "off",
    "arrow-body-style": "warn",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "class-methods-use-this": [
      0
    ],
    "import/prefer-default-export": [
      0
    ],
    "max-len": [2, 150, 4, {"ignoreUrls": true}]
  },
}
